<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Magic Deck Creator</title>
      {{!-- STYLES --}}

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="../stylesheets/style.css"/>
   </head>

   <body>
      <nav id="my-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
         <div class="container-fluid navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>

         <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/search">Search</a>                  
                  </li>
                  
         {{#if userInSession}}
                  <li class="nav-item">
                     <a class="nav-link" href="/userProfile">Favourites</a>                  
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/userDeck">Deck</a>                  
                  </li>
               </ul>
            </div>         
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <form id="logout-form" class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                        <button class="btn btn-danger my-2 mr-sm-2">Logout</button>
                     </form>
                  </li>
              </ul>   
            </div>     
            {{else}}  
               </ul>   
            </div>    
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>                  
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/signup">Signup</a>                  
                  </li>
               </ul>   
            </div>         
         {{/if}} 
         </div>
      </nav>
      {{{body}}}
      <footer class=" fixed-bottom ">
         <div>
            <p>By Laura Alabau</p>
         </div>
      </footer>

      <script src="/js/script.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   </body>
</html>