body {
  font: 14px Helvetica, Arial, sans-serif;
  background-image: url(../images/liliana.png);
  background-size: 900px;
  background-color: #120d13;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 60px;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
}
body #search {
  background-image: url(../images/nissa.png);
  background-color: #10130d;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 50px;
  background-size: 700px;
  width: 100vw;
  min-height: 100vh;
}

body #profile {
  background-image: url(../images/jace.png);
  background-color: #0d1213;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 140px;
  background-size: 1200px;
  width: 100vw;
  min-height: 100vh;
}

body #deck {
  background-image: url(../images/lotus.png);
  background-color: #120d13;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 1200px;
  width: 100vw;
  min-height: 100vh;
}

#not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../images/thunder.png);
  background-color: #120d13;
  background-repeat: no-repeat;
  background-position-x: -20px;
  background-position-y: -60px;
  background-size: 1200px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 4em;
}

/* NAV GENERIC*/
#my-nav {
  background-color: #000 !important;
  height: 55px;
  border-bottom: 1px solid #333;
}

#my-nav a {
  font-size: 1.2em;
  color: white;
}

.navbar-nav {
  align-items: center;
}

.dropdown-menu {
  background-color: #000 !important;
}
.dropdown-item:hover {
  background-color: rgb(27, 27, 27) !important;
}

#navbarTogglerDemo02 {
  background-color: black;
}

/* FOOTER GENERIC */

footer {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  border-top: 1px solid #1d1d1d;
}

footer p {
  color: #f7f9f9;
  padding-top: 1%;
  padding-left: 1%;
}

/* INDEX */
.index {
  /* background: rgba(0, 0, 0, 0.6); */
  /* border-radius: 10px; */
  margin-top: 30vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
.index .row {
  width: 40vw;
}

.index .content {
  padding: 10% 0;
}

.index h1 {
  font-weight: 600;
}

.btn-index {
  display: flex;
  flex-direction: column;
}

.btn-index .btn:first-child {
  margin-bottom: 1vh;
}

button#user-home {
  width: 100%;
  margin-right: 0px !important;
}

#logout-form .btn-link {
  color: rgb(170, 0, 0);
  font-weight: 600;
}
#logout-form .btn-link:hover {
  color: rgb(170, 0, 0);
  font-weight: 600;
  text-decoration: none;
}

/* FORMS */
#form-auth form {
  margin: 0px auto;
  max-width: 600px;
  min-width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 25px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 5px;
}

.tabs button {
  background: transparent;
  color: antiquewhite;
  border: none;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tabs button:focus,
.tabs button.active {
  border-bottom: 2px solid antiquewhite;
  outline: none;
}

#form-auth form input,
#form-auth.search input.search-input {
  box-sizing: border-box;
  background-color: #333333af;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  outline: 0;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

#form-auth.search input.search-input {
  border-radius: 5px 0px 0px 5px;
}

#form-auth form input:-webkit-autofill,
#form-auth.search input.search-input:-webkit-autofill {
  box-shadow: 0 0 0 30px #292929af inset;
  -webkit-text-fill-color: antiquewhite !important;
  font-size: 20px !important;
}

#form-auth form input:-webkit-autofill:-internal-autofill-selected,
#form-auth.search
  input.search-input:-webkit-autofill:-internal-autofill-selected {
  box-shadow: 0 0 0 30px #292929af inset;
  -webkit-text-fill-color: antiquewhite !important;
  font-size: 20px !important;
}

#form-auth form input,
#form-auth.search input.search-input {
  box-sizing: border-box;
  background-color: #333333af;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  outline: 0;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
  transition: border-color 0.3s ease;
  color: antiquewhite;
}

#form-auth.search input.search-input {
  border-radius: 5px 0px 0px 5px;
}

#form-auth form input:focus,
#form-auth.search input.search-input:focus {
  border-color: antiquewhite;
  border: 2px solid antiquewhite;
  color: antiquewhite;
}
#form-auth form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

#form-auth form button.btn-danger {
  background-color: antiquewhite;
  color: #000000;
  border: 1px solid antiquewhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  width: 200px;
  padding: 6px;
}
/* SEARCH */
#form-auth.search form {
  margin: 0px auto;
  width: 33%;
  background: transparent;
  padding: 1%;
  padding-top: 60px;
}

#form-auth.search form label {
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

#form-auth.search form input,
#form-auth.search form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

#form-auth.search form button {
  font-size: 1.2em;
}

#form-auth form.search-form {
  display: flex;
  flex-direction: row;
  gap: 0;
}

#form-auth form.search-form button {
  width: 140px;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  padding: 10px 0px;
}

#search-result.search form {
  margin: 0px auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 1%;
}

#search-result #favourites button {
  margin-bottom: 2px;
}
#search-result #decks button {
  margin-bottom: 10%;
  margin-top: 1vh;
  align-items: center;
}

.search-row {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
}

.card {
  background-color: transparent;
  border: 0px;
  margin-bottom: 10%;
}

/* USER FAV */
.user-list h2 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.user-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;
}

.card-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.card-list .card {
  background-color: transparent;
  padding: 2%;
}

.div-to-delete {
  background-color: rgba(0, 0, 0, 0.5);
}

/* USER DECK */
.user-deck {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  padding-top: 65px;
}

.user-deck h2.print {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.screen,
.screen-2 {
  display: none;
}

.borderH {
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}

.input-num {
  width: 60px;
  font-size: 16px;
  background-color: #333333af;
  border: none;
  padding: 7px;
  color: antiquewhite;
  text-align: center;
  border-radius: 6px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#deck-list {
  margin-bottom: 5%;
}

#deck-list .btn-danger {
  background-color: #861c26;
  border-color: #861c26;
}
#deck-list .btn-danger:hover {
  background-color: #bd2230;
  border-color: #bd2230;
}

/* OVERLAY IMAGES */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-card:hover .overlay {
  /*  display: block;  */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#img-hover {
  /*   position: absolute; */
  left: 0;
}

.button-hover {
  position: absolute;
  text-align: center;
  width: 60%;
  margin-bottom: 20%;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.button-hover2 {
  position: absolute;
  text-align: center;
  width: 60%;
  margin-top: 20%;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.container-card:hover .button-hover,
.container-card:hover .button-hover2 {
  opacity: 1;
}

.not-found {
  text-align: center;
  padding: 100px;
  width: fit-content;
  background-color: #252838d6;
  border-radius: 10px;
  color: rgb(226, 254, 254);
}

.not-found h1 {
  font-size: 80px;
  margin: 0;
  color: rgb(226, 254, 254);
}

.not-found h2 {
  font-size: 24px;
  margin-top: 10px;
}

@media print {
  body {
    background: white;
    color: #000;
  }
  body #profile {
    background: white;
    color: #000;
  }
  body #search {
    background: white;
    color: #000;
  }
  .btn,
  .print,
  nav,
  footer {
    display: none;
  }
  .screen {
    display: block;
    text-align: right;
  }
  .screen-2 {
    display: block;
  }
  .user-deck h2.print {
    display: none;
  }

  input {
    border: none;
    background: transparent;
    color: black;
  }

  .input-num {
    border: none;
    background: transparent;
    color: black;
  }
}
